@charset "UTF-8";
body {
  font-size: 13px;
  background-color: #EDF5F6;
}

.color-red {
  color: #FE5578 !important;
}

.color-green {
  color: #12B88C !important;
}

.color-yellow {
  color: #fdd835 !important;
  color: #FFC107 !important;
}

.font-weight {
  font-weight: bold !important;
}

#calendar {
  max-width: 1100px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.box-model-calender {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 600px;
  overflow: auto;
  z-index: 9999;
  background-color: #fff;
  display: none;
}

/* Start Nav Bar */
.image-nav {
  width: 100%;
  height: 47.3px;
  position: fixed;
  z-index: 9;
  top: 0px;
}
.image-nav img {
  width: 100%;
}

/* End Nav bar */
.container-bage {
  display: flex;
}

/* Start Aside Bar */
aside.aside-bar {
  width: 80px;
  height: calc(100vh - 47.5px);
  display: flex;
  position: fixed;
  left: 0;
  top: 47.3px;
  z-index: 1;
  flex-direction: column;
  justify-content: space-between;
  background-color: #095571;
}
aside.aside-bar ul.list-unstyled li.list-item a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  padding-bottom: 0;
}
aside.aside-bar ul.list-unstyled li.list-item a svg {
  width: 40px;
  fill: #fff;
  stroke: #fff;
}
aside.aside-bar ul.list-unstyled li.list-item a span {
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  transform: translateY(100px);
  font-size: 11px;
}
aside.aside-bar ul.list-unstyled li.list-item a:hover span {
  visibility: visible;
  transform: translateY(0);
}
aside.aside-bar ul.list-unstyled li.list-item.active a {
  background-color: #12B88C;
  padding-bottom: 10px;
}
aside.aside-bar ul.list-unstyled li.list-item.active a span {
  visibility: visible;
  transform: translateY(5px);
}
aside.aside-bar ul.list-unstyled.end li.list-item {
  margin: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  border: none;
}
aside.aside-bar ul.list-unstyled.end li.list-item a {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding-bottom: 10px;
  border: none;
  background-color: #12B88C;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
aside.aside-bar ul.list-unstyled.end li.list-item a.doctor-icon {
  position: relative;
  overflow: initial;
  transition: all 0.5s ease-in-out;
}
aside.aside-bar ul.list-unstyled.end li.list-item a.doctor-icon::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 60%;
  background: linear-gradient(to bottom, #fe5578 0%, #7f2b3c 100%);
  color: #fff;
  font: normal normal normal 16px/1 FontAwesome;
  border-radius: 50%;
  padding: 5px;
  transition: all 0.5s ease-in-out;
}
aside.aside-bar ul.list-unstyled.end li.list-item a.show-box {
  background: linear-gradient(to bottom, #fe5578 0%, #7f2b3c 100%);
  transform: scale(1.1);
}
aside.aside-bar ul.list-unstyled.end li.list-item a.show-box::after {
  background: linear-gradient(to bottom, #687cdc 0%, #1a1f37 100%);
}
aside.aside-bar ul.list-unstyled.end li.list-item a img {
  width: 30px;
}
aside.aside-bar ul.list-unstyled.end li.list-item a svg {
  width: 30px;
}
aside.aside-bar ul.list-unstyled.end li.list-item a:hover {
  transform: scale(1.1);
}

/* End Aside Bar */
/* Start doctor-box */
.doctor-box {
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  width: 300px;
  height: 100%;
  top: 0;
  right: -300px;
  padding: 20px;
  transition: all 0.4s ease-in-out;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}
.doctor-box .Exit {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.doctor-box .Exit:hover {
  opacity: 0.5;
}
.doctor-box .doctor-icon {
  position: absolute;
  left: -40px;
  top: 150px;
  width: 40px;
  height: 40px;
  border: 1px solid #1A57FF;
  border-right: none;
  background-color: #fff;
  color: #1A57FF;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
  z-index: 99;
  text-align: center;
  transition: all 0.4s ease-in-out;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
}
.doctor-box .doctor-icon i {
  line-height: 40px;
}
.doctor-box .doctor-icon:hover {
  background-color: #1A57FF;
  color: #fff;
}
.doctor-box .doctor-image img {
  border: 2px solid #999;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.doctor-box .title-name {
  margin: 15px 0 0;
  color: #0859A8;
  font-size: 1.2em;
}
.doctor-box .title-name ~ P {
  margin-bottom: 20px;
  color: #777;
}
.doctor-box.show-box {
  right: 0;
}

/* End doctor-box */
/* Start Doctor Desktop Container */
.doctor-desktop-bady {
  width: 100%;
  background-color: #EDF5F6;
  padding-top: 47.3px;
  padding-left: 80px;
  position: relative;
}

.Emergency {
  top: 170px;
  position: absolute;
  right: 0;
  width: 50px;
  z-index: 99999999;
  background-color: rgba(255, 152, 0, 0.8);
  padding: 5px;
  border-radius: 10px 0 0 10px;
  transition: all 0.5s ease-in-out;
}
.Emergency svg {
  animation: myfirst 1s linear 1s infinite alternate;
}

@keyframes myfirst {
  0% {
    filter: grayscale(0.3);
    opacity: 0.5;
    transform: scale(0.9);
  }
  100% {
    filter: grayscale(0);
    opacity: 1;
    transform: scale(1);
  }
}
.doctor-desktop-container {
  padding: 0;
}
.doctor-desktop-container .row.box .col-lg-4 {
  padding-right: 0;
  padding-left: 0;
}
.doctor-desktop-container .card-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
}
.doctor-desktop-container .card-box .card-box-title {
  padding: 10px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(to right, #12b88c 0%, #085370 100%);
}
.doctor-desktop-container .card-box .card-box-title.big {
  text-align: left;
  display: flex;
  justify-content: space-between;
  background: #12B88C;
}
.doctor-desktop-container .card-box .card-box-title.big .text {
  display: inline-block;
  padding: 10px 0;
}
.doctor-desktop-container .card-box .card-box-title.big .form-control {
  height: 36px;
}
.doctor-desktop-container .card-box .card-box-title.big span.icon {
  padding: 5px 0;
}
.doctor-desktop-container .card-box .card-box-title.big span.icon span.calendar-box {
  position: relative;
}
.doctor-desktop-container .card-box .card-box-title.big span.icon span.calendar-box input[type=date] {
  position: absolute;
  right: 3px;
  top: 0;
  width: 52px;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
}
.doctor-desktop-container .card-box .card-box-title.big span.icon span.filter {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.doctor-desktop-container .card-box .card-box-title.big span.icon span.filter .filter-box {
  position: absolute;
  background-color: #fff;
  top: 170%;
  right: -20px;
  width: 150px;
  z-index: 9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  transform: scaleY(0);
  transform-origin: 0 0 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.doctor-desktop-container .card-box .card-box-title.big span.icon span.filter .filter-box:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 17px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
.doctor-desktop-container .card-box .card-box-title.big span.icon span.filter .filter-box a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  display: block;
  font-weight: normal;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}
.doctor-desktop-container .card-box .card-box-title.big span.icon span.filter .filter-box a:hover {
  background-color: rgba(21, 101, 192, 0.5);
  color: #fff;
}
.doctor-desktop-container .card-box .card-box-title.big span.icon span.filter:hover .filter-box {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}
.doctor-desktop-container .card-box .card-box-title.big a {
  text-decoration: none;
  color: #fff;
}
.doctor-desktop-container .card-box .card-box-title.big .btn {
  background-color: #fff;
  border: none;
  color: #12B88C;
  border-radius: 5px;
  overflow: hidden;
}
.doctor-desktop-container .card-box .card-box-title.big ~ .card-box-body {
  height: 470px;
  overflow-y: auto;
}
.doctor-desktop-container .card-box .card-box-title.big-tag {
  justify-content: space-between;
  display: flex;
  background: #12B88C;
}
.doctor-desktop-container .card-box .card-box-title.big-tag .float-right {
  font-size: 0.8em;
}
.doctor-desktop-container .card-box .card-box-title.big-tag span {
  display: block;
  padding: 10px 0;
}
.doctor-desktop-container .card-box .card-box-body {
  background-color: #fff;
  padding: 2px;
}
.doctor-desktop-container .card-box .card-box-body .user-call {
  background-color: #d9edf7;
  padding: 5px;
  margin-bottom: 5px;
}
.doctor-desktop-container .card-box .card-box-body .card-groub {
  margin: 5px;
}
.doctor-desktop-container .card-box .card-box-body .card-groub .card {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 10px;
  border-bottom: 1px solid #085370;
}
.doctor-desktop-container .card-box .card-box-body .card-groub .card .card-title {
  background-color: #085370;
  color: #fff;
  padding: 7px;
  margin: 0;
}
.doctor-desktop-container .card-box .card-box-body .card-groub .card .body-card {
  border-right: 1px solid #085370;
  border-left: 1px solid #085370;
  padding: 5px 10px;
}
.doctor-desktop-container .card-box .card-box-body .button-group {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.doctor-desktop-container .card-box .card-box-body .button-group .button-left .btn-primary {
  background-color: #12B88C;
  border: none;
  border-radius: 5px;
}
.doctor-desktop-container .card-box .card-box-body .button-group .button-left .btn-danger {
  background: linear-gradient(to bottom, #fe5578 0%, #7f2b3c 100%);
  border-radius: 50%;
  padding: 2px 5px;
}
.doctor-desktop-container .card-box .card-box-body .button-group .button-right .btn-primary {
  background: linear-gradient(to right, #12b88c 0%, #085370 100%);
  border-radius: 5px;
  margin: 0 5px;
}
.doctor-desktop-container .card-box .card-box-body table.table {
  margin-bottom: 0;
}
.doctor-desktop-container .card-box .card-box-body table.table tr th {
  text-align: center;
}
.doctor-desktop-container .card-box .card-box-body table.table tr th svg {
  width: 25px;
}
.doctor-desktop-container .card-box .card-box-body table.table tr td {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}
.doctor-desktop-container .card-box .card-box-body table.table tr td .text-name, .doctor-desktop-container .card-box .card-box-body table.table tr td .text-info {
  text-align: left;
}
.doctor-desktop-container .card-box .card-box-body table.table tr td svg {
  width: 20px;
}
.doctor-desktop-container .card-box .card-box-body table.table tr td {
  border-right: 1px solid #CCCBCB;
  border-top: none;
  padding: 0;
}
.doctor-desktop-container .card-box .card-box-body table.table tr td a {
  text-decoration: none;
  text-align: center;
  display: block;
}
.doctor-desktop-container .card-box .card-box-body table.table tr td a h4 {
  color: #707070;
  position: relative;
  font-size: 14px;
  font-weight: bold;
}
.doctor-desktop-container .card-box .card-box-body table.table tr td a h4 small {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-weight: normal;
}
.doctor-desktop-container .card-box .card-box-body table.table tr td a h4 small span {
  color: #FE5578;
}
.doctor-desktop-container .card-box .card-box-body table.table tr td a h3 {
  color: #085370;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}
.doctor-desktop-container .card-box .card-box-body table.table tr td a h3 span {
  color: #FE5578;
}
.doctor-desktop-container .card-box .card-box-body table.table tr td:last-child {
  border: none;
}
.doctor-desktop-container .card-box .card-box-body table.table tr td.active {
  background-color: #12B88C;
}
.doctor-desktop-container .card-box .card-box-body table.table tr td.active h4, .doctor-desktop-container .card-box .card-box-body table.table tr td.active h3 {
  color: #fff;
}
.doctor-desktop-container .card-box .card-box-body table.table.big thead tr th {
  color: #fff;
  background-color: #00bcd4 !important;
  position: sticky;
  top: 0;
  z-index: 2;
}
.doctor-desktop-container .card-box .card-box-body table.table.big thead tr svg {
  fill: #fff;
}
.doctor-desktop-container .card-box .card-box-body table.table.big tr {
  transition: all 0.4s ease-in-out;
}
.doctor-desktop-container .card-box .card-box-body table.table.big tr td {
  border: 1px solid #ddd;
}
.doctor-desktop-container .card-box .card-box-body table.table.big tr td .col-lg-2 {
  padding: 10px;
}
.doctor-desktop-container .card-box .card-box-body table.table.big tr:hover {
  cursor: pointer;
  background-color: rgba(0, 188, 212, 0.05);
}
.doctor-desktop-container .card-box .card-box-body table.table.big tr.actives {
  background-color: rgba(0, 188, 212, 0.2);
  background-color: #095571;
  color: #fff;
}
.doctor-desktop-container .card-box .card-box-body table.table.big tr.actives .text-info {
  color: #fff;
}

/* End Doctor Desktop Container */
aside.aside-overveiw {
  width: 150px;
  height: calc(100vh - 47.5px);
  position: fixed;
  left: 0;
  top: 47.3px;
  z-index: 1;
  background-color: #FCFCFC;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
}
aside.aside-overveiw h4 {
  background-color: #329190;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
}
aside.aside-overveiw h4 ~ select.form-control {
  margin: 0 5px;
  width: 90%;
}
aside.aside-overveiw h4 ~ ul {
  margin-left: 15px;
}
aside.aside-overveiw h4 ~ ul li a {
  color: #329190;
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
}

/* Start Continer Over Veiw */
.contint-overveiw {
  padding-left: 150px;
  padding-top: 47.3px;
}

.Patient-overview {
  background-color: #329190;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.Patient-overview .image {
  color: #fff;
  font-weight: bold;
}
.Patient-overview .image img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
}
.Patient-overview .image .blood {
  background-color: transparent;
  width: 50px;
  height: auto;
  margin-top: 10px;
}
.Patient-overview ul {
  border-right: 2px solid #fff;
  padding-right: 10px;
  margin-bottom: 0;
}
.Patient-overview ul li {
  color: #fff;
  margin-bottom: 2px;
}
.Patient-overview p {
  color: #fff;
  font-weight: bold;
  margin-top: 25px;
}

.filter-overview {
  padding: 10px 0;
  display: flex;
}
.filter-overview table {
  border-radius: 5px;
  overflow: hidden;
  margin: 0 10px;
}
.filter-overview table tr td {
  color: #fff;
  padding: 5px;
}
.filter-overview table tr td p {
  margin-bottom: 0;
}
.filter-overview table tr td:first-child {
  background-color: #0FA980;
}
.filter-overview table tr td:last-child {
  background-color: #0A6876;
}
.filter-overview table tr td div {
  writing-mode: vertical-lr;
  transform: scale(-1);
  text-align: center;
  vertical-align: middle;
}
.filter-overview .box-card {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 58%;
  padding: 5px;
  border-radius: 5px;
}

.filter-info {
  display: none;
}
.filter-info .row {
  position: relative;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
  padding-bottom: 10px;
}
.filter-info .form-group .checkbox {
  margin-bottom: 0;
}
.filter-info .form-group .checkbox input[type=text] {
  width: 30px;
  display: inline-block;
  margin: 0 5px;
}
.filter-info .form-group-sm {
  margin: 7px 0;
  display: flex;
}

/* End Continer Over Veiw */
/* Start contint-overveiw-box   */
.contint-overveiw-box {
  padding-left: 150px;
}
.contint-overveiw-box .trending {
  display: flex;
  padding: 10px 0;
  background-color: #fff;
}
.contint-overveiw-box .trending button.btn.btn-default {
  border-radius: 50%;
  background-color: #0fa980;
  color: #fff;
  height: 65px;
  margin: 0 10px;
}
.contint-overveiw-box .trending button.btn.btn-default i {
  display: block;
}
.contint-overveiw-box .trending table {
  margin-bottom: 0;
}
.contint-overveiw-box .trending table tr td {
  text-align: center;
}
.contint-overveiw-box .trending table tr td h4 {
  margin: 0;
}
.contint-overveiw-box .trending table .dark-green {
  color: #0A6876;
}
.contint-overveiw-box .trending table .light-green {
  color: #15CC40;
}
.contint-overveiw-box .card-overview {
  margin: 10px 0;
}
.contint-overveiw-box .card-overview .card-head {
  display: flex;
  justify-content: space-between;
  background-color: #0FA980;
  border-radius: 10px 10px 0 0;
}
.contint-overveiw-box .card-overview .card-head h4 {
  background-color: #0A6876;
  color: #fff;
  padding: 12px;
  margin: 0;
  border-radius: 10px 0 0 0;
}
.contint-overveiw-box .card-overview .card-head form.form-inline {
  width: 50%;
  padding: 5px 0;
}
.contint-overveiw-box .card-overview .card-head span.icon {
  display: flex;
  width: 15%;
  justify-content: space-between;
  padding: 10px 0;
}
.contint-overveiw-box .card-overview .card-head span.icon span.Puls {
  color: #fff;
}
.contint-overveiw-box .card-overview .card-head span.icon span.favorite {
  margin: 0 5px;
  color: #FFC107;
}
.contint-overveiw-box .card-overview .card-bod {
  background-color: #fff;
}
.contint-overveiw-box .card-overview .card-bod table.table th {
  color: #0FA980;
}
.contint-overveiw-box .card-overview .card-bod table.table td {
  color: #0A6876;
}
.contint-overveiw-box .card-overview .card-bod table.table td p {
  margin-bottom: 0;
}
.contint-overveiw-box .card-overview .card-bod table.table td small {
  padding-left: 10px;
  display: inline-block;
}

/* End contint-overveiw-box   */

/*# sourceMappingURL=style.css.map */
