body {
  font-size: 13px;
  background-color: #EDF5F6;
}
.color-red {
  color: #FE5578!important;
}
.color-green {
  color: #12B88C!important;
}
.color-yellow {
  color: #fdd835!important;
  color: #FFC107!important;
}
.font-weight {
  font-weight: bold!important;
}
#calendar {
  max-width: 1100px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.box-model-calender {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 600px;
  overflow: auto;
  z-index: 9999;
  background-color: #fff;
  display: none;
}
/* Start Nav Bar */
.image-nav {
  width: 100%;
  height: 47.3px;
  position: fixed;
  z-index: 9;
  top: 0px;
  img {
    width: 100%;
  }
}
/* End Nav bar */
.container-bage   {
  display: flex;
}
/* Start Aside Bar */
aside.aside-bar {
  width: 80px;
  height: calc(100vh - 47.5px);
  display: flex;
  position: fixed;
  left: 0;
  top: 47.3px;
  z-index: 1;
  flex-direction: column;
  justify-content: space-between;
  //background: linear-gradient(to top, rgba(8,83,112,1) 0%, rgba(18,184,140,1) 100%);
  background-color: #095571;
  ul.list-unstyled {
    li.list-item {
      a {
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid #fff;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        flex-direction: column;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
        padding-bottom: 0;
        svg {
          width: 40px;
          fill: #fff;
          stroke: #fff;
        }
        
        span {
          visibility: hidden;
          transition: all 0.5s ease-in-out;
          transform: translateY(100px);
          font-size: 11px;
        }
        &:hover {
          span {
            visibility: visible;
            transform: translateY(0);
          }
        }
      }
      &.active {
        a {
          //background: linear-gradient(to bottom, rgba(104,124,220,1) 0%, rgba(26,31,55,1) 100%);
          //background: linear-gradient(to bottom, rgba(#15a4fa,1) 0%, rgba(#026ae3,1) 100%);
          background-color:#12B88C;
          padding-bottom: 10px;
          span {
            visibility: visible;
            transform: translateY(5px);
          }
        }
      }
    } 
    &.end {
      li.list-item {
        margin: 5px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        border: none;
        a {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          padding-bottom: 10px;
          border: none;
          //background: linear-gradient(to bottom, rgba(104,124,220,1) 0%, rgba(26,31,55,1) 100%);
          background-color: #12B88C;
          box-shadow: 0 0 10px rgba(#000,0.3);
          
          &.doctor-icon {
            position: relative;
            overflow: initial;
            transition: all 0.5s ease-in-out;
            &::after {
              content: "";
              position: absolute;
              right: -10px;
              top: 60%;
              background: linear-gradient(to bottom, rgba(#FE5578,1) 0%, rgba(#7F2B3C,1) 100%);
              color: #fff;
              font: normal normal normal 16px/1 FontAwesome;
              border-radius: 50%;
              padding: 5px;
              transition: all 0.5s ease-in-out;
            }
          }
          &.show-box {
            background: linear-gradient(to bottom, rgba(#FE5578,1) 0%, rgba(#7F2B3C,1) 100%);
            transform: scale(1.1);
            &::after {
              background: linear-gradient(to bottom, rgba(104,124,220,1) 0%, rgba(26,31,55,1) 100%);
            }
          }
          img {
            width: 30px;
            
          }
          svg {
            width: 30px;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
/* End Aside Bar */
/* Start doctor-box */
.doctor-box {
  position: fixed;
    z-index: 9999;
    background-color: #fff;
    width: 300px;
    height: 100%;
    top: 0;
    right: -300px;
    padding: 20px;
    transition: all 0.4s ease-in-out;
    box-shadow: -5px 0 10px rgba(0,0,0,0.1);
    .Exit {
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      &:hover {
        opacity: 0.5;
      }
    }
    .doctor-icon {
      position: absolute;
      left: -40px;
      top: 150px;
      width: 40px;
      height: 40px;
      border: 1px solid #1A57FF;
      border-right: none;
      background-color: #fff;
      color: #1A57FF;
      cursor: pointer;
      border-radius: 5px 0 0 5px;
      z-index: 99;
      text-align: center;
      transition: all 0.4s ease-in-out;
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
      i {
        line-height: 40px;
      }
      &:hover {
        background-color: #1A57FF;
        color: #fff;
      }
    }
    .doctor-image {
      img {
        border: 2px solid #999;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
      }
    }
    .title-name {
      margin: 15px 0 0;
      color: #0859A8;
      font-size: 1.2em;
      & ~ P {
        margin-bottom: 20px;
        color: #777;
      }
    }
    &.show-box {
      right: 0;
    }
}
/* End doctor-box */
/* Start Doctor Desktop Container */
.doctor-desktop-bady {
  width: 100%;
  background-color: #EDF5F6;
  padding-top: 47.3px;
  padding-left: 80px;
  position: relative;
  
}
.Emergency {
  top: 170px;
  position: absolute;
  right: 0;
  width: 50px;
  z-index: 99999999;
  background-color: rgba(#ff9800,.8);
  padding: 5px;
  border-radius: 10px 0 0 10px;
  transition: all 0.5s ease-in-out;
  svg {
    animation: myfirst 1s linear 1s infinite alternate;
  }
}
@keyframes myfirst {
  0%   {filter: grayscale(.3);
    opacity: 0.5;
    transform: scale(.9);
  }
  100% {filter: grayscale(0);
    opacity: 1;
    transform: scale(1);}
}
.doctor-desktop-container {
  
  padding:  0;
  .row.box {
    .col-lg-4 {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .card-box  {
    box-shadow: 0 0 10px rgba(#000,0.2);
    border-radius: 10px 10px 0 0;
    .card-box-title {
      padding: 10px;
      font-weight: bold;
      //letter-spacing: 1px;
      color: #fff;
      margin-bottom: 0;
      text-align: center;
      border-radius: 10px 10px 0 0;
      background: linear-gradient(to right, rgba(18,184,140,1) 0%, rgba(8,83,112,1) 100%);
      &.big {
        text-align: left;
        display: flex;
        justify-content: space-between;
        //background: linear-gradient(to right, rgba(#15a4fa,1) 0%, rgba(#026ae3,1) 100%);
        background: #12B88C;
        .text {
          display: inline-block;
          padding: 10px 0;
        }
        .form-control {
          height: 36px;
        }
        span.icon {
          padding: 5px 0;
          span.calendar-box {
            position: relative;
            input[type="date"] {
              position: absolute;
              right: 3px;
              top: 0;
              width: 52px;
              opacity: 0;
              z-index: 9;
              cursor: pointer;
            }
          }
          span.filter {
            position: relative;
            transition: all 0.3s ease-in-out;
            .filter-box {
              position: absolute;
              background-color: #fff;
              top: 170%;
              right: -20px;
              width: 150px;
              z-index: 9;
              box-shadow: 0 0 10px rgba(0,0,0,0.1);
              border-radius: 5px;
              padding: 5px;
              transform: scaleY(0);
              transform-origin: 0 0 0 ;
              visibility: hidden;
              transition: all 0.3s ease-in-out;
              &:before {
                content: '';
                position: absolute;
                top: -20px;
                right: 17px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent #fff transparent;
              }
              a {
                text-decoration: none;
                color: #333;
                font-size: 14px;
                display: block;
                font-weight: normal;
                padding: 5px;
                border-bottom: 1px solid rgba(0,0,0,0.1);
                transition: all 0.4s ease-in-out;
                &:hover {
                  background-color: rgba(#1565c0,0.5);
                  color: #fff;
                }
              }
            }
            &:hover {
              .filter-box {
                opacity: 1;
                visibility: visible;
                transform: scaleY(1);
              }
            }
          }
        }
        a {
          text-decoration: none;
          color: #fff;
        }
        .btn {
          //background: linear-gradient(to bottom, rgba(104,124,220,1) 0%, rgba(26,31,55,1) 100%);
          //background: linear-gradient(to bottom, #8BC34A 0%, #4CAF50 100%);
          background-color: #fff;
          border: none;
          color: #12B88C;
          border-radius: 5px;
          overflow: hidden;
        }
        &~.card-box-body {
          height: 470px;
          overflow-y: auto;
        }
      }
      &.big-tag  {
        justify-content: space-between;
        display: flex;
        //background: linear-gradient(to right, rgba(#15a4fa,1) 0%, rgba(#026ae3,1) 100%);
        background: #12B88C;
        .float-right {
          font-size: 0.8em;
        }
        span {
          display: block;
          padding: 10px 0;
        }
      }
    }
    .card-box-body  {
      background-color: #fff;
      padding: 2px;
      .user-call {
        background-color: #d9edf7;
        padding: 5px;
        margin-bottom: 5px;
      }
      .card-groub  {
        //border: 1px solid #333;
        margin: 5px;
        .card {
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0,0,0,0.2);
          overflow: hidden;
          margin-bottom: 10px;
          border-bottom: 1px solid #085370;
          
          .card-title {
            background-color:#085370;
            //background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%,  rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
            color: #fff;
            padding: 7px;
            margin: 0;
          }
          .body-card {
            border-right: 1px solid #085370;
            border-left: 1px solid #085370;
            padding: 5px 10px;
          }
        }
      }
      .button-group {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        .button-left {
          .btn-primary {
            //background: linear-gradient(to bottom, rgba(104,124,220,1) 0%, rgba(26,31,55,1) 100%);
            background-color: #12B88C;
            border: none;
            border-radius: 5px;
          }
          .btn-danger {
            background: linear-gradient(to bottom, rgba(#FE5578,1) 0%, rgba(#7F2B3C,1) 100%);
            border-radius: 50%;
            padding: 2px 5px;
          }
        }
        .button-right  {
          .btn-primary {
            background: linear-gradient(to right, rgba(18,184,140,1) 0%, rgba(8,83,112,1) 100%);
            border-radius: 5px;
            margin: 0 5px;
          }
        }
        
      }
      table.table {
        margin-bottom: 0;
        tr {
          th {
            text-align: center;
            svg {
              width: 25px;
            }
          }
          td {
            text-align: center;
            vertical-align: middle;
            padding: 5px;
            .text-name, .text-info {
              text-align: left;
            }
            
            svg {
              width: 20px;
            }
          }
        }
        
        tr {
          td {
            border-right: 1px solid #CCCBCB;
            border-top: none;
            padding: 0;
            a {
              text-decoration: none;
                text-align: center;
                display: block;
                //padding: 10px;
                
                h4 {
                  color: #707070;
                  position: relative;
                  font-size: 14px;
                  font-weight: bold;
                  small {
                    position: absolute;
                    top: 110%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    font-weight: normal;
                    span {
                      color: #FE5578;
                    }
                  }
                }
                h3 {
                  color: #085370;
                  font-weight: bold;
                  margin-top: 15px;
                  margin-bottom: 5px;
                  span {
                    color: #FE5578;
                  }
                }
                
                
            }
            &:last-child {
              border: none;
            }
            &.active {
              //background: linear-gradient(to bottom, rgba(#15a4fa,1) 0%, rgba(#026ae3,1) 100%);
              background-color: #12B88C;
              //background-color: rgba(104, 124, 220, 0.5);
              //background-color:#009BD6;
              h4, h3 {
                color: #fff;
              }
            }
          }
        }
        &.big {
          thead {
            tr {
              
              th {
                color: #fff;
                background-color: #00bcd4!important;
                position: sticky;
                top: 0;
                z-index: 2;
              }
              svg {
                fill: #fff;
              }
            }
          }
          tr {
            transition: all 0.4s ease-in-out;
            td {
              border: 1px solid #ddd;
              .col-lg-2 {
                padding: 10px;
              }
            }
            
            &:hover {
              cursor: pointer;
              //background-color:rgba(104,124,220,.5);
              background-color: rgba( #00bcd4,0.05);
            }
            &.actives {
              background-color: rgba( #00bcd4,0.2);
              background-color: #095571;
              color: #fff;
              .text-info {
                color: #fff;
              }
            }
          }
        }
      }
      
    }
  }
  
}
/* End Doctor Desktop Container */

@import './overview';