<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Doctor Desk Top

    link(href='assets/css/fullcalendar.css', rel='stylesheet')
    link(href='assets/css/fullcalendar.print.css', rel='stylesheet')
    link(href='assets/css/bootstrap-datepicker.css', rel='stylesheet')

   


    link(rel="stylesheet", href="css/font-awesome.min.css")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/style.css")
      
  
  body
            
    .modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
      .modal-dialog.modal-lg(role='document')
        .modal-content 
          #calendar  
    nav.image-nav
      img(src="../Images/navbar.png", alt="")
    .container-bage 
      .Emergency
        svg(xmlns='http://www.w3.org/2000/svg', data-name='Layer 1', viewbox='0 0 512 512')
          g(data-name='<Group>')
          g(data-name='<Group>')
            rect(width='413.432', height='51.679', x='49.284', y='421.528', fill='#f00', data-name='<Path>')
          g(data-name='<Group>')
            polygon(fill='#fff', points='462.716 421.528 49.284 421.528 136.311 370.676 375.689 370.676 462.716 421.528', data-name='<Path>')
          g(data-name='<Group>')
            path(fill='#FF0000', d='M375.689,256.155V370.676H136.311V256.155a119.689,119.689,0,1,1,239.378,0Zm-68.01,13.953V237.034H272.537V201.892H239.463v35.142H204.321v33.074h35.142V305.25h33.074V270.108Z', data-name='<Compound Path>')
          g(data-name='<Group>')
            polygon(fill='#fff', points='307.679 237.034 307.679 270.108 272.537 270.108 272.537 305.25 239.463 305.25 239.463 270.108 204.321 270.108 204.321 237.034 239.463 237.034 239.463 201.892 272.537 201.892 272.537 237.034 307.679 237.034', data-name='<Path>')
          g(data-name='<Group>')
            path(fill='#000', d='M470.682,420.851c-.011-.125-.026-.248-.042-.371s-.036-.256-.059-.383-.056-.281-.089-.42c-.026-.108-.053-.215-.083-.322q-.062-.219-.135-.432c-.035-.1-.072-.2-.111-.3-.054-.138-.111-.273-.172-.406-.048-.106-.1-.211-.151-.315s-.124-.236-.19-.351-.135-.229-.207-.341-.129-.2-.2-.291c-.085-.12-.173-.237-.264-.353-.067-.084-.135-.166-.2-.247-.1-.114-.2-.226-.305-.336-.077-.08-.156-.157-.236-.234-.1-.1-.208-.195-.318-.288s-.2-.165-.3-.244-.2-.151-.3-.223c-.127-.091-.259-.174-.392-.257-.06-.037.042-.079-.019-.114L384,366.085V256.155A127.9,127.9,0,0,0,255.922,128.466C185.514,128.466,128,185.748,128,256.155v109.93L45.092,414.621c-.061.035-.037.077-.1.114-.133.083-.225.166-.353.257-.1.072-.181.147-.28.223s-.193.16-.291.244-.21.19-.313.289c-.08.076-.157.153-.233.233-.106.109-.206.222-.3.336-.069.081-.137.163-.2.247-.092.116-.179.233-.264.353-.067.1-.132.192-.2.291s-.141.225-.207.341-.129.232-.19.351-.1.209-.151.315c-.061.133-.118.268-.172.406-.039.1-.076.2-.111.3q-.073.213-.135.432c-.03.107-.057.214-.083.322-.033.139-.063.278-.089.42s-.041.255-.059.383-.031.246-.042.371c-.013.156-.161.312-.165.468,0,.07-.153.138-.153.209v51.679c0,4.418,3.866,7.793,8.284,7.793H462.716c4.418,0,8.284-3.375,8.284-7.793V421.528c0-.071-.151-.139-.153-.209C470.843,421.163,470.7,421.007,470.682,420.851ZM138.477,379H373.523l59.645,35H78.832ZM144,256.155c0-61.585,50.259-111.689,111.844-111.689A112.03,112.03,0,0,1,368,256.155V363H144ZM455,465H57V430H455Z', data-name='<Compound Path>')
            path(fill='#000', d='M307.679,229H281V201.892c0-4.418-4.045-7.892-8.463-7.892H239.463c-4.418,0-8.463,3.474-8.463,7.892V229H204.321A8.309,8.309,0,0,0,196,237.034v33.074A8.189,8.189,0,0,0,204.321,278H231v27.25c0,4.418,4.045,7.75,8.463,7.75h33.074c4.418,0,8.463-3.332,8.463-7.75V278h26.679A8.189,8.189,0,0,0,316,270.108V237.034A8.309,8.309,0,0,0,307.679,229ZM300,262H272.537c-4.418,0-7.537,3.69-7.537,8.108V297H247V270.108c0-4.418-3.119-8.108-7.537-8.108H212V245h27.463c4.418,0,7.537-3.548,7.537-7.966V210h18v27.034c0,4.418,3.119,7.966,7.537,7.966H300Z', data-name='<Compound Path>')
            path(fill='#000', d='M256 111.392a8 8 0 0 0 8-8v-64.6a8 8 0 0 0-16 0v64.6A8 8 0 0 0 256 111.392zM495.015 270h-64.6a8 8 0 1 0 0 16h64.6a8 8 0 0 0 0-16zM89.583 278a8 8 0 0 0-8-8h-64.6a8 8 0 0 0 0 16h64.6A8 8 0 0 0 89.583 278zM126.985 160.159A8 8 0 0 0 138.3 148.846L92.615 103.162A8 8 0 0 0 81.3 114.475zM379.358 162.5a7.976 7.976 0 0 0 5.657-2.343L430.7 114.475a8 8 0 1 0-11.314-11.313L373.7 148.846a8 8 0 0 0 5.657 13.656z', data-name='<Path>')

      
      .doctor-box
        .Exit
          i.fa.fa-times.fa-fw.fa-2x
        .doctor-image.text-center
          img(src="../Images/doctor.svg", alt="" width="100")    
        h5.title-name.text-center Dr. Jackson Santos
        p.text-center Dermatologists-Texas Hospital
        h5.text-center Incomplete Medical Records
        p.vale.text-center 5
        h5.text-center Insurance rejection
        p.vale.text-center 3
        h5.text-center Verbal orders verification 
        p.vale.text-center 0
        h5.text-center Approval requests need reply
        p.vale.text-center 1
        hr
        h5.text-center Contract to expire in
        p.vale.text-center 50 
          span days
        h5.text-center Work permit to expire in
        p.vale.text-center 12
          span days
        h5.text-center Annual Vacation balance
        p.vale.text-center 14
          span days
      
      aside.aside-bar
        ul.list-unstyled.start
          li.list-item.active
            a(href="")
              <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><title/><g id="Icons"><path d="M22,60a1,1,0,0,1-1-1V49a1,1,0,0,1,2,0V59A1,1,0,0,1,22,60Z" /><path d="M13,22a5.006,5.006,0,0,1-5-5V15a5,5,0,0,1,10,0v2A5.006,5.006,0,0,1,13,22Zm0-10a3,3,0,0,0-3,3v2a3,3,0,0,0,6,0V15A3,3,0,0,0,13,12Z" /><path d="M27,60a1,1,0,0,1-1-1V45a1,1,0,0,0-1-1H23a1,1,0,0,1-1-1V33a7.009,7.009,0,0,0-7-7H11a6.992,6.992,0,0,0-6.053,3.5A1,1,0,1,1,3.213,28.5,8.993,8.993,0,0,1,11,24h4a9.01,9.01,0,0,1,9,9v9h1a3,3,0,0,1,3,3V59A1,1,0,0,1,27,60Z" /><path d="M17,50H3a3,3,0,0,1-3-3V31a3,3,0,0,1,3-3H17a3,3,0,0,1,3,3V47A3,3,0,0,1,17,50ZM3,30a1,1,0,0,0-1,1V47a1,1,0,0,0,1,1H17a1,1,0,0,0,1-1V31a1,1,0,0,0-1-1Z" /><path d="M10,60a1,1,0,0,1-1-1V49a1,1,0,0,1,2,0V59A1,1,0,0,1,10,60Z"/><path d="M23,50H16a1,1,0,0,1,0-2h7a1,1,0,0,1,0,2Z" /><path d="M17,60a1,1,0,0,1-1-1V49a1,1,0,0,1,2,0V59A1,1,0,0,1,17,60Z" /><path d="M13,60H7a1,1,0,0,1,0-2h6a1,1,0,0,1,0,2Z" /><path d="M57,40H27a1,1,0,0,1,0-2H56V36H27a1,1,0,0,1,0-2H57a1,1,0,0,1,1,1v4A1,1,0,0,1,57,40Z" /><path d="M53,56H31a1,1,0,0,1,0-2H53a1,1,0,0,0,1-1V39a1,1,0,0,1,2,0V53A3,3,0,0,1,53,56Z" /><path d="M59,20H53a1,1,0,0,1-1-1V16H49a1,1,0,0,1-1-1V9a1,1,0,0,1,1-1h3V5a1,1,0,0,1,1-1h6a1,1,0,0,1,1,1V8h3a1,1,0,0,1,1,1v6a1,1,0,0,1-1,1H60v3A1,1,0,0,1,59,20Zm-5-2h4V15a1,1,0,0,1,1-1h3V10H59a1,1,0,0,1-1-1V6H54V9a1,1,0,0,1-1,1H50v4h3a1,1,0,0,1,1,1Z" /><path d="M39,18a5.006,5.006,0,0,1-5-5V11a5,5,0,0,1,10,0v2A5.006,5.006,0,0,1,39,18ZM39,8a3,3,0,0,0-3,3v2a3,3,0,0,0,6,0V11A3,3,0,0,0,39,8Z" /><path d="M49,36a1,1,0,0,1-1-1V29a7.009,7.009,0,0,0-7-7H37a7.009,7.009,0,0,0-7,7v6a1,1,0,0,1-2,0V29a9.01,9.01,0,0,1,9-9h4a9.01,9.01,0,0,1,9,9v6A1,1,0,0,1,49,36Z" /><path d="M33,36a1,1,0,0,1-1-1V31a1,1,0,0,1,2,0v4A1,1,0,0,1,33,36Z" /><path d="M45,36a1,1,0,0,1-1-1V31a1,1,0,0,1,2,0v4A1,1,0,0,1,45,36Z" /><path d="M53,36a1,1,0,0,1-1-1V27a1,1,0,0,0-1-1H47.92a1,1,0,0,1,0-2H51a3,3,0,0,1,3,3v8A1,1,0,0,1,53,36Z" /></g></svg>
              span Outpatients
          li.list-item
            a(href="")
              svg#Line_x5F_editable(enable-background='new 0 0 32 32', version='1.1', viewbox='0 0 32 32', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                line#XMLID_1267_(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2', x1='3', x2='3', y1='11', y2='27')
                line#XMLID_1266_(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2', x1='20', x2='20', y1='5', y2='11')
                line#XMLID_1265_(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2', x1='17', x2='23', y1='8', y2='8')
                path#XMLID_1264_(d='  M3,19h24c1.105,0,2,0.895,2,2v6', fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2')
                line#XMLID_1263_(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2', x1='3', x2='29', y1='23', y2='23')
                path#XMLID_1250_(d='  M3,15v4h7v0c0-2.209-1.791-4-4-4H3z', fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2')

              span Inpatients
          li.list-item
            a(href="")
              svg#Surgery_Theatre_Icon(data-name='Surgery Theatre Icon', xmlns='http://www.w3.org/2000/svg', width='29.999', height='30', viewbox='0 0 29.999 30')
                line#Line_11(data-name='Line 11', y2='8.121', transform='translate(0.647)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_12(data-name='Line 12', y2='8.121', transform='translate(29.352)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_13(data-name='Line 13', y2='6.219', transform='translate(17.614 0.017)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_14(data-name='Line 14', y2='6.219', transform='translate(12.512 0.017)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_15(data-name='Line 15', x2='2.444', y2='2.284', transform='translate(0.647 8.012)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_16(data-name='Line 16', x1='2.532', y2='2.429', transform='translate(26.821 8.012)', fill='none', stroke='#fff', stroke-width='1')
                g#Path_27(data-name='Path 27', transform='translate(8.365 6.12)', fill='none')
                  path(d='M2.744,0H10.7l2.571,1.848a1,1,0,0,1-1.021.985H1.021A1,1,0,0,1,0,1.848Z', stroke='none')
                  path(d='M 3.049654960632324 1.000002980232239 L 1.812036514282227 1.833303093910217 L 11.53471946716309 1.833303093910217 L 10.37517261505127 1.000002980232239 L 3.049654960632324 1.000002980232239 M 2.744372367858887 3.099441528320313e-06 L 10.69723224639893 3.099441528320313e-06 L 13.26848220825195 1.847813010215759 C 13.26848220825195 2.392083168029785 12.81152248382568 2.833302974700928 12.24783229827881 2.833302974700928 L 1.020651817321777 2.833302974700928 C 0.4569616317749023 2.833302974700928 1.9073486328125e-06 2.392083168029785 1.9073486328125e-06 1.847813010215759 L 2.744372367858887 3.099441528320313e-06 Z', stroke='none', fill='#fff')
                line#Line_17(data-name='Line 17', y2='1.689', transform='translate(16.594 8.927)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_18(data-name='Line 18', y2='1.689', transform='translate(13.404 8.927)', fill='none', stroke='#fff', stroke-width='1')
                g#Rectangle_23(data-name='Rectangle 23', transform='translate(10.876 8.661)', fill='none', stroke='#fff', stroke-width='1')
                  path(d='M0,0H8.274a0,0,0,0,1,0,0V0a2,2,0,0,1-2,2H2A2,2,0,0,1,0,0V0A0,0,0,0,1,0,0Z', stroke='none')
                  path(d='M.533.5H7.741a.033.033,0,0,1,.033.033v0A.964.964,0,0,1,6.81,1.5H1.464A.964.964,0,0,1,.5.533v0A.033.033,0,0,1,.533.5Z', fill='none')
                g#Path_29(data-name='Path 29', transform='translate(8.132 9.794) rotate(135)', fill='none')
                  path(d='M0,0,8.275.145A3.005,3.005,0,0,1,5.2,3.225L3.19,3.19A3.271,3.271,0,0,1,0,0Z', stroke='none')
                  path(d='M 1.281496524810791 1.022613763809204 C 1.661473274230957 1.703925967216492 2.385697841644287 2.175305843353271 3.207067489624023 2.189699411392212 L 5.213227272033691 2.224849224090576 C 5.226147651672363 2.225079536437988 5.238837242126465 2.225189208984375 5.251697540283203 2.225189208984375 C 5.806707382202148 2.225189208984375 6.321497440338135 2.012349367141724 6.701257228851318 1.625879406929016 C 6.84800910949707 1.476532697677612 6.968517303466797 1.307346940040588 7.060591697692871 1.123888254165649 L 1.281496524810791 1.022613763809204 M -2.86102294921875e-06 -7.152557373046875e-07 L 8.27537727355957 0.1450192928314209 C 8.305387496948242 1.85741114616394 6.956395626068115 3.22519063949585 5.251700401306152 3.22519063949585 C 5.232976913452148 3.22519063949585 5.214495658874512 3.225028991699219 5.195687294006348 3.224699258804321 L 3.189547538757324 3.189549446105957 C 1.458347320556641 3.159209251403809 0.03033733367919922 1.731199383735657 -2.86102294921875e-06 -7.152557373046875e-07 Z', stroke='none', fill='#fff')
                g#Path_30(data-name='Path 30', transform='translate(27.719 15.645) rotate(-135)', fill='none')
                  path(d='M0,.144,8.276,0a3.271,3.271,0,0,1-3.19,3.19L3.08,3.224A3.005,3.005,0,0,1,0,.144Z', stroke='none')
                  path(d='M 6.994330883026123 1.021465539932251 L 1.215203285217285 1.122740983963013 C 1.307276248931885 1.306237459182739 1.427780151367188 1.475428700447083 1.57454776763916 1.624791264533997 C 1.954267501831055 2.011221408843994 2.469077587127686 2.224041223526001 3.024137496948242 2.224041223526001 C 3.036887645721436 2.224041223526001 3.049697875976563 2.223931312561035 3.062627792358398 2.223701238632202 L 5.068767547607422 2.188551425933838 C 5.890137672424316 2.174157857894897 6.614356994628906 1.702777862548828 6.994330883026123 1.021465539932251 M 8.275827407836914 -0.001148700714111328 C 8.245488166809082 1.730051279067993 6.817487716674805 3.158061265945435 5.086287498474121 3.188401222229004 L 3.080147743225098 3.223551273345947 C 3.061445236206055 3.223879098892212 3.04275369644165 3.224042415618896 3.024134635925293 3.224042415618896 C 1.319290637969971 3.224042415618896 -0.02954483032226563 1.856368780136108 0.0004673004150390625 0.1438713073730469 L 8.275827407836914 -0.001148700714111328 Z', stroke='none', fill='#fff')
                line#Line_20(data-name='Line 20', x1='2.202', y1='2.094', transform='translate(1.888 11.457)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_21(data-name='Line 21', x1='2.131', y1='2.116', transform='translate(3.963 9.485)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_22(data-name='Line 22', y1='2.094', x2='2.115', transform='translate(25.908 11.457)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_23(data-name='Line 23', y1='2.116', x2='2.218', transform='translate(23.817 9.485)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_24(data-name='Line 24', y2='2.099', transform='translate(15.064 11.58)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_25(data-name='Line 25', x2='0.032', y2='2.118', transform='translate(17.581 11.597) rotate(-30)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_26(data-name='Line 26', x1='0.032', y2='2.118', transform='translate(12.517 11.581) rotate(30)', fill='none', stroke='#fff', stroke-width='1')
                g#Path_28(data-name='Path 28', transform='translate(42.852 39.119)', fill='none')
                  path(d='M-32.639-20.949H-17.9A1.882,1.882,0,0,1-15.988-19.1v1.109H-34.7l-4.867-4.927c-.574-.654,0-.973,0-.973h3.827Z', stroke='none')
                  path(d='M -38.13571929931641 -22.89251327514648 L -34.28327941894531 -18.99220657348633 L -16.98784255981445 -18.99274253845215 L -16.98784255981445 -19.10145378112793 C -16.98784255981445 -19.56893348693848 -17.39774322509766 -19.94926452636719 -17.90157318115234 -19.94926452636719 L -32.63936614990234 -19.94926452636719 L -33.03835296630859 -19.94926452636719 L -33.32775115966797 -20.22392463684082 L -36.13956451416016 -22.89251327514648 L -38.13571929931641 -22.89251327514648 M -39.56770324707031 -23.89251327514648 L -35.74057388305664 -23.89251327514648 L -32.63936614990234 -20.94926452636719 L -17.90157318115234 -20.94926452636719 C -16.84465408325195 -20.94926452636719 -15.98784255981445 -20.12197494506836 -15.98784255981445 -19.10145378112793 L -15.98784255981445 -17.99277496337891 L -34.70110321044922 -17.99219512939453 C -34.70110321044922 -17.99219512939453 -34.70110321044922 -17.99219512939453 -39.56770324707031 -22.91926383972168 C -40.14218521118164 -23.5735034942627 -39.56770324707031 -23.89251327514648 -39.56770324707031 -23.89251327514648 Z', stroke='none', fill='#fff')
                line#Line_27(data-name='Line 27', y2='2.798', transform='translate(24.122 18.273)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_28(data-name='Line 28', x1='4.656', transform='translate(4.892 17.68)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_29(data-name='Line 29', y2='1.601', transform='translate(20.166 21.007)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_30(data-name='Line 30', y2='1.601', transform='translate(9.961 21.007)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_31(data-name='Line 31', x1='19.505', transform='translate(7.296 22.607)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_32(data-name='Line 32', x2='3.955', y2='3.819', transform='translate(3.43 18.848)', fill='none', stroke='#fff', stroke-width='1')
                g#Rectangle_26(data-name='Rectangle 26', transform='translate(11.491 22.609) rotate(90)', fill='none', stroke='#fff', stroke-width='1')
                  path(d='M0,0H5.8A1.595,1.595,0,0,1,7.391,1.595v0A1.595,1.595,0,0,1,5.8,3.19H0a0,0,0,0,1,0,0V0A0,0,0,0,1,0,0Z', stroke='none')
                  path(d='M.622.5H5.8A1.095,1.095,0,0,1,6.891,1.595v0A1.095,1.095,0,0,1,5.8,2.69H.622A.122.122,0,0,1,.5,2.568V.622A.122.122,0,0,1,.622.5Z', fill='none')
                g#Rectangle_27(data-name='Rectangle 27', transform='translate(21.697 22.609) rotate(90)', fill='none', stroke='#fff', stroke-width='1')
                  path(d='M0,0H5.8A1.595,1.595,0,0,1,7.391,1.595v0A1.595,1.595,0,0,1,5.8,3.19H0a0,0,0,0,1,0,0V0A0,0,0,0,1,0,0Z', stroke='none')
                  path(d='M.622.5H5.8A1.095,1.095,0,0,1,6.891,1.595v0A1.095,1.095,0,0,1,5.8,2.69H.622A.122.122,0,0,1,.5,2.568V.622A.122.122,0,0,1,.622.5Z', fill='none')
                line#Line_33(data-name='Line 33', x1='3.004', transform='translate(8.347 26.974)', fill='none', stroke='#fff', stroke-width='1')
                line#Line_34(data-name='Line 34', x1='3.154', transform='translate(18.561 26.974)', fill='none', stroke='#fff', stroke-width='1')
              span Surgeries  
          li.list-item
            a(href="")    
              svg(xmlns='http://www.w3.org/2000/svg', data-name='Layer 1', viewbox='0 0 512 512')
                g(data-name='<Group>')
                  g(data-name='<Group>')
                  g(data-name='<Group>')
                  g(data-name='<Group>')
                  g(data-name='<Group>')
                g(data-name='<Group>')
                  path(fill='#fff', d='M470.682,420.851c-.011-.125-.026-.248-.042-.371s-.036-.256-.059-.383-.056-.281-.089-.42c-.026-.108-.053-.215-.083-.322q-.062-.219-.135-.432c-.035-.1-.072-.2-.111-.3-.054-.138-.111-.273-.172-.406-.048-.106-.1-.211-.151-.315s-.124-.236-.19-.351-.135-.229-.207-.341-.129-.2-.2-.291c-.085-.12-.173-.237-.264-.353-.067-.084-.135-.166-.2-.247-.1-.114-.2-.226-.305-.336-.077-.08-.156-.157-.236-.234-.1-.1-.208-.195-.318-.288s-.2-.165-.3-.244-.2-.151-.3-.223c-.127-.091-.259-.174-.392-.257-.06-.037.042-.079-.019-.114L384,366.085V256.155A127.9,127.9,0,0,0,255.922,128.466C185.514,128.466,128,185.748,128,256.155v109.93L45.092,414.621c-.061.035-.037.077-.1.114-.133.083-.225.166-.353.257-.1.072-.181.147-.28.223s-.193.16-.291.244-.21.19-.313.289c-.08.076-.157.153-.233.233-.106.109-.206.222-.3.336-.069.081-.137.163-.2.247-.092.116-.179.233-.264.353-.067.1-.132.192-.2.291s-.141.225-.207.341-.129.232-.19.351-.1.209-.151.315c-.061.133-.118.268-.172.406-.039.1-.076.2-.111.3q-.073.213-.135.432c-.03.107-.057.214-.083.322-.033.139-.063.278-.089.42s-.041.255-.059.383-.031.246-.042.371c-.013.156-.161.312-.165.468,0,.07-.153.138-.153.209v51.679c0,4.418,3.866,7.793,8.284,7.793H462.716c4.418,0,8.284-3.375,8.284-7.793V421.528c0-.071-.151-.139-.153-.209C470.843,421.163,470.7,421.007,470.682,420.851ZM138.477,379H373.523l59.645,35H78.832ZM144,256.155c0-61.585,50.259-111.689,111.844-111.689A112.03,112.03,0,0,1,368,256.155V363H144ZM455,465H57V430H455Z', data-name='<Compound Path>')
                  path(fill='#fff', d='M307.679,229H281V201.892c0-4.418-4.045-7.892-8.463-7.892H239.463c-4.418,0-8.463,3.474-8.463,7.892V229H204.321A8.309,8.309,0,0,0,196,237.034v33.074A8.189,8.189,0,0,0,204.321,278H231v27.25c0,4.418,4.045,7.75,8.463,7.75h33.074c4.418,0,8.463-3.332,8.463-7.75V278h26.679A8.189,8.189,0,0,0,316,270.108V237.034A8.309,8.309,0,0,0,307.679,229ZM300,262H272.537c-4.418,0-7.537,3.69-7.537,8.108V297H247V270.108c0-4.418-3.119-8.108-7.537-8.108H212V245h27.463c4.418,0,7.537-3.548,7.537-7.966V210h18v27.034c0,4.418,3.119,7.966,7.537,7.966H300Z', data-name='<Compound Path>')
                  path(fill='#fff', d='M256 111.392a8 8 0 0 0 8-8v-64.6a8 8 0 0 0-16 0v64.6A8 8 0 0 0 256 111.392zM495.015 270h-64.6a8 8 0 1 0 0 16h64.6a8 8 0 0 0 0-16zM89.583 278a8 8 0 0 0-8-8h-64.6a8 8 0 0 0 0 16h64.6A8 8 0 0 0 89.583 278zM126.985 160.159A8 8 0 0 0 138.3 148.846L92.615 103.162A8 8 0 0 0 81.3 114.475zM379.358 162.5a7.976 7.976 0 0 0 5.657-2.343L430.7 114.475a8 8 0 1 0-11.314-11.313L373.7 148.846a8 8 0 0 0 5.657 13.656z', data-name='<Path>')
              span Emergency  
        ul.list-unstyled.end
          li.list-item  
            a(href="#" data-toggle="modal" data-target=".bs-example-modal-lg")  
              <svg height="60px" version="1.1" viewBox="0 0 60 60" width="60px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><desc/><defs/><g  fill-rule="evenodd" id="People" stroke="none" stroke-width="1"><g  id="Icon-2"><path d="M17.707,43.293 C17.316,42.902 16.684,42.902 16.293,43.293 L15,44.586 L13.707,43.293 C13.316,42.902 12.684,42.902 12.293,43.293 C11.902,43.684 11.902,44.316 12.293,44.707 L13.586,46 L12.293,47.293 C11.902,47.684 11.902,48.316 12.293,48.707 C12.488,48.902 12.744,49 13,49 C13.256,49 13.512,48.902 13.707,48.707 L15,47.414 L16.293,48.707 C16.488,48.902 16.744,49 17,49 C17.256,49 17.512,48.902 17.707,48.707 C18.098,48.316 18.098,47.684 17.707,47.293 L16.414,46 L17.707,44.707 C18.098,44.316 18.098,43.684 17.707,43.293 L17.707,43.293 Z M27.707,43.293 C27.316,42.902 26.684,42.902 26.293,43.293 L25,44.586 L23.707,43.293 C23.316,42.902 22.684,42.902 22.293,43.293 C21.902,43.684 21.902,44.316 22.293,44.707 L23.586,46 L22.293,47.293 C21.902,47.684 21.902,48.316 22.293,48.707 C22.488,48.902 22.744,49 23,49 C23.256,49 23.512,48.902 23.707,48.707 L25,47.414 L26.293,48.707 C26.488,48.902 26.744,49 27,49 C27.256,49 27.512,48.902 27.707,48.707 C28.098,48.316 28.098,47.684 27.707,47.293 L26.414,46 L27.707,44.707 C28.098,44.316 28.098,43.684 27.707,43.293 L27.707,43.293 Z M47.707,33.293 C47.316,32.902 46.684,32.902 46.293,33.293 L45,34.586 L43.707,33.293 C43.316,32.902 42.684,32.902 42.293,33.293 C41.902,33.684 41.902,34.316 42.293,34.707 L43.586,36 L42.293,37.293 C41.902,37.684 41.902,38.316 42.293,38.707 C42.488,38.902 42.744,39 43,39 C43.256,39 43.512,38.902 43.707,38.707 L45,37.414 L46.293,38.707 C46.488,38.902 46.744,39 47,39 C47.256,39 47.512,38.902 47.707,38.707 C48.098,38.316 48.098,37.684 47.707,37.293 L46.414,36 L47.707,34.707 C48.098,34.316 48.098,33.684 47.707,33.293 L47.707,33.293 Z M37.707,23.293 C37.316,22.902 36.684,22.902 36.293,23.293 L35,24.586 L33.707,23.293 C33.316,22.902 32.684,22.902 32.293,23.293 C31.902,23.684 31.902,24.316 32.293,24.707 L33.586,26 L32.293,27.293 C31.902,27.684 31.902,28.316 32.293,28.707 C32.488,28.902 32.744,29 33,29 C33.256,29 33.512,28.902 33.707,28.707 L35,27.414 L36.293,28.707 C36.488,28.902 36.744,29 37,29 C37.256,29 37.512,28.902 37.707,28.707 C38.098,28.316 38.098,27.684 37.707,27.293 L36.414,26 L37.707,24.707 C38.098,24.316 38.098,23.684 37.707,23.293 L37.707,23.293 Z M44,27 L46,27 L46,25 L44,25 L44,27 Z M48,28 C48,28.552 47.552,29 47,29 L43,29 C42.448,29 42,28.552 42,28 L42,24 C42,23.448 42.448,23 43,23 L47,23 C47.552,23 48,23.448 48,24 L48,28 Z M34,47 L36,47 L36,45 L34,45 L34,47 Z M38,44 L38,48 C38,48.552 37.552,49 37,49 L33,49 C32.448,49 32,48.552 32,48 L32,44 C32,43.448 32.448,43 33,43 L37,43 C37.552,43 38,43.448 38,44 L38,44 Z M34,37 L36,37 L36,35 L34,35 L34,37 Z M38,38 C38,38.552 37.552,39 37,39 L33,39 C32.448,39 32,38.552 32,38 L32,34 C32,33.448 32.448,33 33,33 L37,33 C37.552,33 38,33.448 38,34 L38,38 Z M24,37 L26,37 L26,35 L24,35 L24,37 Z M28,38 C28,38.552 27.552,39 27,39 L23,39 C22.448,39 22,38.552 22,38 L22,34 C22,33.448 22.448,33 23,33 L27,33 C27.552,33 28,33.448 28,34 L28,38 Z M24,27 L26,27 L26,25 L24,25 L24,27 Z M28,28 C28,28.552 27.552,29 27,29 L23,29 C22.448,29 22,28.552 22,28 L22,24 C22,23.448 22.448,23 23,23 L27,23 C27.552,23 28,23.448 28,24 L28,28 Z M14,37 L16,37 L16,35 L14,35 L14,37 Z M18,38 C18,38.552 17.552,39 17,39 L13,39 C12.448,39 12,38.552 12,38 L12,34 C12,33.448 12.448,33 13,33 L17,33 C17.552,33 18,33.448 18,34 L18,38 Z M14,27 L16,27 L16,25 L14,25 L14,27 Z M18,28 C18,28.552 17.552,29 17,29 L13,29 C12.448,29 12,28.552 12,28 L12,24 C12,23.448 12.448,23 13,23 L17,23 C17.552,23 18,23.448 18,24 L18,28 Z M44,7 C44,7.551 44.449,8 45,8 C45.551,8 46,7.551 46,7 L46,3 C46,2.449 45.551,2 45,2 C44.449,2 44,2.449 44,3 L44,7 Z M42,7 L42,3 C42,1.346 43.346,0 45,0 C46.654,0 48,1.346 48,3 L48,7 C48,8.654 46.654,10 45,10 C43.346,10 42,8.654 42,7 L42,7 Z M34,7 C34,7.551 34.449,8 35,8 C35.551,8 36,7.551 36,7 L36,3 C36,2.449 35.551,2 35,2 C34.449,2 34,2.449 34,3 L34,7 Z M32,7 L32,3 C32,1.346 33.346,0 35,0 C36.654,0 38,1.346 38,3 L38,7 C38,8.654 36.654,10 35,10 C33.346,10 32,8.654 32,7 L32,7 Z M24,7 C24,7.551 24.449,8 25,8 C25.551,8 26,7.551 26,7 L26,3 C26,2.449 25.551,2 25,2 C24.449,2 24,2.449 24,3 L24,7 Z M22,7 L22,3 C22,1.346 23.346,0 25,0 C26.654,0 28,1.346 28,3 L28,7 C28,8.654 26.654,10 25,10 C23.346,10 22,8.654 22,7 L22,7 Z M14,7 C14,7.551 14.449,8 15,8 C15.551,8 16,7.551 16,7 L16,3 C16,2.449 15.551,2 15,2 C14.449,2 14,2.449 14,3 L14,7 Z M12,7 L12,3 C12,1.346 13.346,0 15,0 C16.654,0 18,1.346 18,3 L18,7 C18,8.654 16.654,10 15,10 C13.346,10 12,8.654 12,7 L12,7 Z M48.293,54.293 C47.902,54.684 47.902,55.316 48.293,55.707 C48.488,55.902 48.744,56 49,56 C49.256,56 49.512,55.902 49.707,55.707 L55.707,49.707 C55.895,49.52 56,49.265 56,49 L56,17 C56,16.448 55.552,16 55,16 L5,16 C4.448,16 4,16.448 4,17 L4,52 C4,54.206 5.794,56 8,56 L45,56 C45.552,56 46,55.552 46,55 L46,49 C46,48.547 46.446,48 47,48 L51,48 C51.552,48 52,47.552 52,47 C52,46.448 51.552,46 51,46 L47,46 C45.402,46 44,47.402 44,49 L44,54 L8,54 C6.897,54 6,53.103 6,52 L6,18 L54,18 L54,48.586 L48.293,54.293 Z M55,2 L51,2 C50.448,2 50,2.448 50,3 C50,3.552 50.448,4 51,4 L55,4 C56.458,4 58,5.542 58,7 L58,55 C58,56.458 56.458,58 55,58 L5,58 C3.542,58 2,56.458 2,55 L2,14 L55,14 C55.552,14 56,13.552 56,13 C56,12.448 55.552,12 55,12 L1,12 C0.448,12 0,12.448 0,13 L0,55 C0,57.57 2.43,60 5,60 L55,60 C57.57,60 60,57.57 60,55 L60,7 C60,4.43 57.57,2 55,2 L55,2 Z M0,9 L0,7 C0,4.43 2.43,2 5,2 L9,2 C9.552,2 10,2.448 10,3 C10,3.552 9.552,4 9,4 L5,4 C3.542,4 2,5.542 2,7 L2,9 C2,9.552 1.552,10 1,10 C0.448,10 0,9.552 0,9 L0,9 Z" id="calendar"/></g></g></svg>
          li.list-item  
            a.doctor-icon(href="#")
              img(src="Images/doctor.png", alt="")
              
      .doctor-desktop-bady
        section.doctor-desktop-container
          .container-fluid
            .row
              .col-lg-7
                .row.box
                  .col-lg-8
                    .card-box 
                      h4.card-box-title Outpatients
                      .card-box-body 
                        table.table
                          tr
                            td.active 
                              a(href="")
                                h4 Waiting
                                h3 12
                            td  
                              a(href="")
                                h4 Finished
                                h3 9
                            td 
                              a(href="")
                                h4 Consultations
                                  small ( booking / Walk-in )
                                h3 15/3    
                            td 
                              a(href="")
                                h4 Follow-up
                                h3 3  
                            td 
                              a(href="")
                                h4 High pain score
                                h3 3    
                        
                  .col-lg-4
                    .card-box 
                      h4.card-box-title Consultations
                      .card-box-body 
                        table.table
                          tr
                            td 
                              a(href="")
                                h4 Required
                                h3 12
                            td  
                              a(href="")
                                h4 Submitted
                                h3 9
                            td 
                              a(href="")
                                h4 Full Transfer
                                h3 3    
                            
              .col-lg-5
                .card-box 
                  h4.card-box-title Procedures
                  .card-box-body 
                    table.table
                      tr
                        td 
                          a(href="")
                            h4 Surgery
                              small ( Requested / 
                                span Cancelled 
                                | )
                            h3 7/
                              span 1
                        td 
                          a(href="")
                            h4 Endoscopy
                              small ( Requested / 
                                span Cancelled 
                                | )
                            h3 2/
                              span -    
                        td 
                          a(href="")
                            h4 Cath-lab
                              small ( Requested / 
                                span Cancelled 
                                  | )
                            h3 -/
                              span -  
        section.doctor-desktop-container
          .container-fluid
            .row
              .col-lg-7(style="padding-right: 0")
                .card-box 
                  h4.card-box-title.big 
                    span.text Outpatients [Waiting]
                    form.form-inline
                      .form-group
                        .input-group
                          input#exampleInputAmount.form-control(type='text', placeholder='Search')
                          .input-group-addon(href="")
                            i.fa.fa-search

                    span.icon
                      span.calendar-box
                        i.fa.fa-calendar
                        input(type="date", name="")
                      span.filter
                        a(href="#")
                          i.fa.fa-filter
                        ul.list-unstyled.filter-box  
                          li.list-item
                            a(href="") Vip
                          li.list-item
                            a(href="") Cash
                          li.list-item
                            a(href="") Visitor
                          
                    button.btn.btn-primary Call next patient
                  .card-box-body 
                    table.table.table-bordered.big
                      thead
                        tr
                          th    No
                          th Time
                          th Patient name
                          th Episode No
                          th 
                            svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
                              g
                                g
                                  path(d='M309.568,395.04l-70.272-15.264V359.04c3.68-5.312,7.104-12.064,10.656-19.136c2.656-5.248,6.656-13.184,8.32-15.072\
                                  c11.424-11.168,23.584-25.056,27.36-43.392c3.776-18.272-0.992-27.648-3.744-31.328c0-12.864,0-36.32-4.48-53.536\
                                  c-0.512-20.768-4.576-33.12-14.336-43.744c-7.328-7.936-17.664-9.664-25.952-11.072c-2.688-0.448-6.72-1.12-7.936-1.728\
                                  c-13.984-7.776-28.192-11.584-45.792-12.032c-35.52,1.344-79.168,23.968-93.792,64.544c-4.16,11.52-4.16,28.736-3.776,48.448\
                                  l-0.032,7.808c-2.56,5.024-7.328,14.4-3.552,32.64c3.776,18.368,15.936,32.256,27.264,43.328\
                                  c1.792,2.016,5.888,10.016,8.576,15.296c3.552,7.008,7.008,13.728,10.656,19.04v20.768l-70.272,15.264\
                                  C29.216,401.408,8,427.712,8,457.6V496c0,8.832,7.168,16,16,16h320c8.832,0,16-7.168,16-16v-38.4\
                                  C360,427.712,338.784,401.408,309.568,395.04z M328,480H40v-22.4c0-14.944,10.624-28.096,25.216-31.264l82.88-17.984\
                                  c7.36-1.6,12.608-8.096,12.608-15.648V353.44c0-4.096-1.92-8.384-4.736-11.36c-2.08-2.176-6.688-11.2-9.44-16.608\
                                  c-5.056-9.888-9.408-18.432-14.592-23.488c-8.352-8.16-16.352-17.088-18.368-27.008c-1.504-7.264-0.608-9.024,0.736-11.648\
                                  c1.44-2.848,3.648-7.2,3.648-13.216l-0.128-9.76c-0.224-11.232-0.608-30.08,1.856-36.96c9.728-26.976,40.704-42.496,63.904-43.392\
                                  c11.52,0.288,20.512,2.688,30.08,8c5.824,3.232,12.352,4.32,18.112,5.312c2.944,0.512,7.136,0.96,7.776,1.216\
                                  c2.528,2.752,5.664,6.176,5.888,24.544c0,1.44,0.224,2.88,0.64,4.288c3.808,12.96,3.808,35.776,3.808,46.72\
                                  c0,6.016,2.208,10.336,3.648,13.216c1.344,2.656,2.24,4.384,0.736,11.68c-2.016,9.92-10.016,18.816-18.368,27.008\
                                  c-5.216,5.088-9.504,13.632-14.528,23.488c-2.72,5.408-7.296,14.432-9.312,16.576c-3.072,3.008-4.768,7.104-4.768,11.392v39.264\
                                  c0,7.52,5.248,14.048,12.608,15.648l82.88,17.984C317.376,429.504,328,442.656,328,457.6V480z')
                              g
                                g
                                  path(d='M360,0c-57.408,0-109.152,34.08-131.84,86.816c-3.488,8.096,0.288,17.504,8.416,21.024\
                                  c8.064,3.392,17.504-0.288,20.992-8.416C275.2,58.464,315.392,32,360,32c61.76,0,112,50.24,112,112\
                                  c0,68.896-61.184,124.448-133.792,109.76c-8.672-1.792-17.12,3.84-18.848,12.512c-1.728,8.672,3.872,17.088,12.544,18.848\
                                  c9.472,1.92,18.944,2.88,28.096,2.88c79.392,0,144-64.608,144-144S439.392,0,360,0z')
                              g
                                g
                                  path(d='M419.328,180.704L376,137.376V80c0-8.832-7.168-16-16-16c-8.832,0-16,7.168-16,16v64c0,4.256,1.696,8.32,4.672,11.328\
                                  l48,48C399.808,206.432,403.904,208,408,208s8.192-1.568,11.328-4.672C425.568,197.088,425.568,186.944,419.328,180.704z')
                          th 
                      tbody 
                        tr
                          td.font-weight 12
                          td 
                            span.time 17:00
                            .icon-time.color-green(title="Arrived") 
                              i.fa.fa-check-square-o.fa-fw.fa-lg
                          td 
                            .row
                              .col-lg-2.color-red(title="Critical patient") 
                                i.fa.fa-user-circle-o.fa-fw.fa-2x
                              .col-lg-10
                                .text-name Ahmed Mohamed Ahmed Mohammed
                                .text-info 123456, AXA
                          td  
                            .specialty 2 Specialty 
                            .overall 5 Overall  
                          td 1hr 12 min
                          td
                            .rows
                              span.icon(title="Fees paid")  
                                svg#Icon_Dollar1(xmlns='http://www.w3.org/2000/svg', width='24.994', height='24.994', viewbox='0 0 24.994 24.994')
                                  path#Path_53(data-name='Path 53', d='M85.586,73.089a12.5,12.5,0,1,0,12.5,12.5A12.511,12.511,0,0,0,85.586,73.089Zm0,23.023A10.526,10.526,0,1,1,96.112,85.586,10.537,10.537,0,0,1,85.586,96.112Z', transform='translate(-73.089 -73.089)', fill='#12b88c')
                                  path#Path_54(data-name='Path 54', d='M194.993,151c0-.791,1.156-.926,2.159-.926a8.117,8.117,0,0,1,3.317,1l.212-2.179a8.181,8.181,0,0,0-3.066-.752l.308-2.218H195.86l.309,2.218c-2.661.25-3.529,1.793-3.529,3.085,0,3.259,6.074,2.565,6.074,4.57,0,.753-.713,1.022-1.967,1.022a5.368,5.368,0,0,1-3.625-1.215l-.328,2.449a8.176,8.176,0,0,0,3.375.772l-.309,2.14h2.063l-.308-2.16c3.124-.27,3.683-1.929,3.683-3.027C201.3,151.907,194.993,152.871,194.993,151Z', transform='translate(-184.472 -140.952)', fill='#12b88c')
                              span.icon(title="Consultation")  
                                svg#Component_32_5(data-name='Component 32 – 5', xmlns='http://www.w3.org/2000/svg', width='25', height='29', viewbox='0 0 25 29')
                                  g#Rectangle_38(data-name='Rectangle 38', transform='translate(0 3)', fill='#687bdc', stroke='#000', stroke-width='1')
                                    rect(width='25', height='25', stroke='none')
                                    rect(x='0.5', y='0.5', width='24', height='24', fill='none')
                                  text#C(transform='translate(12 23)', fill='#fff', font-size='24', font-family='Calibri-Bold, Calibri', font-weight='700')
                                    tspan(x='-6.352', y='0') C

                          
                        tr.actives
                          td.font-weight 10
                          td 
                            span.time 17:00
                            .icon-time.color-red(title="Not arrived")   
                              i.fa.fa-check-square-o.fa-fw.fa-lg
                          td 
                            .row
                              .col-lg-2
                                i.fa.fa-user-circle-o.fa-fw.fa-2x
                              .col-lg-10
                                .text-name Ahmed Mohamed Ahmed Mohammed
                                .text-info 123456, AXA
                          td  
                            .specialty 2 Specialty 
                            .overall 5 Overall  
                          td 12 min
                          td
                            .rows
                              span.icon(title="Fees paid")   
                                svg#Icon_Dollar1(xmlns='http://www.w3.org/2000/svg', width='24.994', height='24.994', viewbox='0 0 24.994 24.994')
                                  path#Path_53(data-name='Path 53', d='M85.586,73.089a12.5,12.5,0,1,0,12.5,12.5A12.511,12.511,0,0,0,85.586,73.089Zm0,23.023A10.526,10.526,0,1,1,96.112,85.586,10.537,10.537,0,0,1,85.586,96.112Z', transform='translate(-73.089 -73.089)', fill='#12b88c')
                                  path#Path_54(data-name='Path 54', d='M194.993,151c0-.791,1.156-.926,2.159-.926a8.117,8.117,0,0,1,3.317,1l.212-2.179a8.181,8.181,0,0,0-3.066-.752l.308-2.218H195.86l.309,2.218c-2.661.25-3.529,1.793-3.529,3.085,0,3.259,6.074,2.565,6.074,4.57,0,.753-.713,1.022-1.967,1.022a5.368,5.368,0,0,1-3.625-1.215l-.328,2.449a8.176,8.176,0,0,0,3.375.772l-.309,2.14h2.063l-.308-2.16c3.124-.27,3.683-1.929,3.683-3.027C201.3,151.907,194.993,152.871,194.993,151Z', transform='translate(-184.472 -140.952)', fill='#12b88c')
                              span.icon(title="Follow-up")   
                                svg#Component_31_5(data-name='Component 31 – 5', xmlns='http://www.w3.org/2000/svg', width='25', height='29', viewbox='0 0 25 29')
                                  g#Rectangle_38(data-name='Rectangle 38', transform='translate(0 3)', fill='#12b88c', stroke='#000', stroke-width='1')
                                    rect(width='25', height='25', stroke='none')
                                    rect(x='0.5', y='0.5', width='24', height='24', fill='none')
                                  text#F(transform='translate(12 23)', fill='#fff', font-size='24', font-family='Calibri-Bold, Calibri', font-weight='700')
                                    tspan(x='-5.508', y='0') F
                            
                        tr
                          td.font-weight 11
                          td 
                            span.time 17:00
                            .icon-time.color-green(title="Arrived")  
                              i.fa.fa-check-square-o.fa-fw.fa-lg
                          td 
                            .row
                              .col-lg-2.color-yellow(title="VIP patient")  
                                i.fa.fa-user-circle-o.fa-fw.fa-2x
                              .col-lg-10
                                .text-name Ahmed Mohamed Ahmed Mohammed
                                .text-info 123456, AXA
                          td  
                            .specialty 2 Specialty 
                            .overall 5 Overall  
                          td 12 min
                          td
                            .rows
                              span.icon(title="Fees paid") 
                                svg#Icon_Dollar1(xmlns='http://www.w3.org/2000/svg', width='24.994', height='24.994', viewbox='0 0 24.994 24.994')
                                  path#Path_53(data-name='Path 53', d='M85.586,73.089a12.5,12.5,0,1,0,12.5,12.5A12.511,12.511,0,0,0,85.586,73.089Zm0,23.023A10.526,10.526,0,1,1,96.112,85.586,10.537,10.537,0,0,1,85.586,96.112Z', transform='translate(-73.089 -73.089)', fill='#12b88c')
                                  path#Path_54(data-name='Path 54', d='M194.993,151c0-.791,1.156-.926,2.159-.926a8.117,8.117,0,0,1,3.317,1l.212-2.179a8.181,8.181,0,0,0-3.066-.752l.308-2.218H195.86l.309,2.218c-2.661.25-3.529,1.793-3.529,3.085,0,3.259,6.074,2.565,6.074,4.57,0,.753-.713,1.022-1.967,1.022a5.368,5.368,0,0,1-3.625-1.215l-.328,2.449a8.176,8.176,0,0,0,3.375.772l-.309,2.14h2.063l-.308-2.16c3.124-.27,3.683-1.929,3.683-3.027C201.3,151.907,194.993,152.871,194.993,151Z', transform='translate(-184.472 -140.952)', fill='#12b88c')
                              span.icon(title="Consultation")  
                                svg#Component_32_5(data-name='Component 32 – 5', xmlns='http://www.w3.org/2000/svg', width='25', height='29', viewbox='0 0 25 29')
                                  g#Rectangle_38(data-name='Rectangle 38', transform='translate(0 3)', fill='#687bdc', stroke='#000', stroke-width='1')
                                    rect(width='25', height='25', stroke='none')
                                    rect(x='0.5', y='0.5', width='24', height='24', fill='none')
                                  text#C(transform='translate(12 23)', fill='#fff', font-size='24', font-family='Calibri-Bold, Calibri', font-weight='700')
                                    tspan(x='-6.352', y='0') C
                            
                        tr
                          td.font-weight 13
                          td 
                            span.time 17:00
                            .icon-time.color-red 
                              i.fa.fa-check-square-o.fa-fw.fa-lg
                          td 
                            .row
                              .col-lg-2
                                i.fa.fa-user-circle-o.fa-fw.fa-2x
                              .col-lg-10
                                .text-name Ahmed Mohamed Ahmed Mohammed
                                .text-info 123456, AXA
                          td  
                            .specialty 2 Specialty 
                            .overall 5 Overall  
                          td 12 min
                          td
                            .rows
                              span.icon 
                                svg#Icon_Dollar1(xmlns='http://www.w3.org/2000/svg', width='24.994', height='24.994', viewbox='0 0 24.994 24.994')
                                  path#Path_53(data-name='Path 53', d='M85.586,73.089a12.5,12.5,0,1,0,12.5,12.5A12.511,12.511,0,0,0,85.586,73.089Zm0,23.023A10.526,10.526,0,1,1,96.112,85.586,10.537,10.537,0,0,1,85.586,96.112Z', transform='translate(-73.089 -73.089)', fill='#12b88c')
                                  path#Path_54(data-name='Path 54', d='M194.993,151c0-.791,1.156-.926,2.159-.926a8.117,8.117,0,0,1,3.317,1l.212-2.179a8.181,8.181,0,0,0-3.066-.752l.308-2.218H195.86l.309,2.218c-2.661.25-3.529,1.793-3.529,3.085,0,3.259,6.074,2.565,6.074,4.57,0,.753-.713,1.022-1.967,1.022a5.368,5.368,0,0,1-3.625-1.215l-.328,2.449a8.176,8.176,0,0,0,3.375.772l-.309,2.14h2.063l-.308-2.16c3.124-.27,3.683-1.929,3.683-3.027C201.3,151.907,194.993,152.871,194.993,151Z', transform='translate(-184.472 -140.952)', fill='#12b88c')
                              span.icon 
                                svg#Component_31_5(data-name='Component 31 – 5', xmlns='http://www.w3.org/2000/svg', width='25', height='29', viewbox='0 0 25 29')
                                  g#Rectangle_38(data-name='Rectangle 38', transform='translate(0 3)', fill='#12b88c', stroke='#000', stroke-width='1')
                                    rect(width='25', height='25', stroke='none')
                                    rect(x='0.5', y='0.5', width='24', height='24', fill='none')
                                  text#F(transform='translate(12 23)', fill='#fff', font-size='24', font-family='Calibri-Bold, Calibri', font-weight='700')
                                    tspan(x='-5.508', y='0') F
                            
                        tr
                          td.font-weight 14
                          td 
                            span.time 17:00
                            .icon-time.color-red 
                              i.fa.fa-check-square-o.fa-fw.fa-lg
                          td 
                            .row
                              .col-lg-2
                                i.fa.fa-user-circle-o.fa-fw.fa-2x
                              .col-lg-10
                                .text-name Ahmed Mohamed Ahmed Mohammed
                                .text-info 123456, AXA
                          td  
                            .specialty 2 Specialty 
                            .overall 5 Overall  
                          td 12 min
                          td
                            .rows
                              span.icon 
                                svg#Icon_Dollar1(xmlns='http://www.w3.org/2000/svg', width='24.994', height='24.994', viewbox='0 0 24.994 24.994')
                                  path#Path_53(data-name='Path 53', d='M85.586,73.089a12.5,12.5,0,1,0,12.5,12.5A12.511,12.511,0,0,0,85.586,73.089Zm0,23.023A10.526,10.526,0,1,1,96.112,85.586,10.537,10.537,0,0,1,85.586,96.112Z', transform='translate(-73.089 -73.089)', fill='#fe5578')
                                  path#Path_54(data-name='Path 54', d='M194.993,151c0-.791,1.156-.926,2.159-.926a8.117,8.117,0,0,1,3.317,1l.212-2.179a8.181,8.181,0,0,0-3.066-.752l.308-2.218H195.86l.309,2.218c-2.661.25-3.529,1.793-3.529,3.085,0,3.259,6.074,2.565,6.074,4.57,0,.753-.713,1.022-1.967,1.022a5.368,5.368,0,0,1-3.625-1.215l-.328,2.449a8.176,8.176,0,0,0,3.375.772l-.309,2.14h2.063l-.308-2.16c3.124-.27,3.683-1.929,3.683-3.027C201.3,151.907,194.993,152.871,194.993,151Z', transform='translate(-184.472 -140.952)', fill='#fe5578')

                              span.icon 
                                svg#Component_31_5(data-name='Component 31 – 5', xmlns='http://www.w3.org/2000/svg', width='25', height='29', viewbox='0 0 25 29')
                                    g#Rectangle_38(data-name='Rectangle 38', transform='translate(0 3)', fill='#12b88c', stroke='#000', stroke-width='1')
                                      rect(width='25', height='25', stroke='none')
                                      rect(x='0.5', y='0.5', width='24', height='24', fill='none')
                                    text#F(transform='translate(12 23)', fill='#fff', font-size='24', font-family='Calibri-Bold, Calibri', font-weight='700')
                                      tspan(x='-5.508', y='0') F
                          
                        tr
                          td.font-weight 15
                          td 
                            span.time 17:00
                            .icon-time.color-green 
                              i.fa.fa-check-square-o.fa-fw.fa-lg
                          td 
                            .row
                              .col-lg-2
                                i.fa.fa-user-circle-o.fa-fw.fa-2x
                              .col-lg-10
                                .text-name Ahmed Mohamed Ahmed Mohammed
                                .text-info 123456, AXA
                          td  
                            .specialty 2 Specialty 
                            .overall 5 Overall  
                          td 12 min
                          td
                            .rows
                              span.icon 
                                svg#Icon_Dollar1(xmlns='http://www.w3.org/2000/svg', width='24.994', height='24.994', viewbox='0 0 24.994 24.994')
                                  path#Path_53(data-name='Path 53', d='M85.586,73.089a12.5,12.5,0,1,0,12.5,12.5A12.511,12.511,0,0,0,85.586,73.089Zm0,23.023A10.526,10.526,0,1,1,96.112,85.586,10.537,10.537,0,0,1,85.586,96.112Z', transform='translate(-73.089 -73.089)', fill='#fe5578')
                                  path#Path_54(data-name='Path 54', d='M194.993,151c0-.791,1.156-.926,2.159-.926a8.117,8.117,0,0,1,3.317,1l.212-2.179a8.181,8.181,0,0,0-3.066-.752l.308-2.218H195.86l.309,2.218c-2.661.25-3.529,1.793-3.529,3.085,0,3.259,6.074,2.565,6.074,4.57,0,.753-.713,1.022-1.967,1.022a5.368,5.368,0,0,1-3.625-1.215l-.328,2.449a8.176,8.176,0,0,0,3.375.772l-.309,2.14h2.063l-.308-2.16c3.124-.27,3.683-1.929,3.683-3.027C201.3,151.907,194.993,152.871,194.993,151Z', transform='translate(-184.472 -140.952)', fill='#fe5578')

                              span.icon 
                                svg#Component_31_5(data-name='Component 31 – 5', xmlns='http://www.w3.org/2000/svg', width='25', height='29', viewbox='0 0 25 29')
                                  g#Rectangle_38(data-name='Rectangle 38', transform='translate(0 3)', fill='#12b88c', stroke='#000', stroke-width='1')
                                    rect(width='25', height='25', stroke='none')
                                    rect(x='0.5', y='0.5', width='24', height='24', fill='none')
                                  text#F(transform='translate(12 23)', fill='#fff', font-size='24', font-family='Calibri-Bold, Calibri', font-weight='700')
                                    tspan(x='-5.508', y='0') F
                            
                                
              .col-lg-5
                .card-box 
                  h4.card-box-title.big-tag 
                    span.text Last visit summary
                    

                    
                    span.float-right Visit No. 5 (Outpatient)
                  .card-box-body 
                    //-.user-call
                      .row
                        .col-lg-2
                          i.fa.fa-user-circle-o.fa-fw.fa-3x
                        .col-lg-10
                          .text-name Ahmed Mohamed Ahmed Mohammed
                          .text-info 123456, AXA
                    .card-groub      
                      .card 
                        h4.card-title   Complaints
                        .body-card
                          p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,  
                      .card 
                        h4.card-title   Diagnosis
                        .body-card
                          p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,  
                      .card 
                        h4.card-title   Orders
                        .body-card
                          p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,  
                      .card 
                        h4.card-title   Notes
                        .body-card
                          p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,  
                    //-#accordion.panel-group(role='tablist', aria-multiselectable='true')
                      .panel.panel-default
                        #headingOne.panel-heading(role='tab')
                          h4.panel-title
                            a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                              | Complaints
                        #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                          .panel-body
                            //-table.table.table-striped
                              thead
                                tr.success
                                  th Complaint
                                  th Date
                                  th
                              tbody 
                                tr 
                                  td Abdominal pain
                                  td 17/07/2020
                                  td Chief
                                tr 
                                  td Vomiting
                                  td 17/07/2020
                                  td 
                                tr 
                                  td Headache
                                  td 17/07/2020
                                  td Chief
                            | 
                      .panel-default
                        #headingTwo.panel-heading(role='tab')
                          h4.panel-title
                            a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                              | Diagnosis
                        #collapseTwo.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingTwo')
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
                      .panel.panel-default
                        #headingThree.panel-heading(role='tab')
                          h4.panel-title
                            a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                              | Orders
                        #collapseThree.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingThree')
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
                      .panel.panel-default
                        #headingThree.panel-heading(role='tab')
                          h4.panel-title
                            a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                              | Notes
                        #collapseFour.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingFour')
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
                    
                    
                    .button-group
                      .button-left
                        .btn.btn-primary Recall
                        .btn.btn-primary Check in
                        .btn.btn-danger 
                          svg#Layer_1(enable-background='new 0 0 512 512', height='25', version='1.1', viewbox='0 0 512 512', width='25', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            path(d='M226.057,105.557v61.918v19.701l19.701,0.194c136.853,1.321,213.945,62.191,234.025,185.542  c-75.179-86.962-161.868-87-233.821-87.02h-19.905v19.895v61.025L41.634,236.175L226.057,105.557 M245.952,67.07L7.216,236.175  l238.736,169.105v-99.493c95.549,0.039,184.133,4.857,259.048,138.447c0-84.844-14.018-274.387-259.048-276.758V67.07L245.952,67.07  z', fill='#fff')
                      .button-right  
                        .btn.btn-primary Hold
                        .btn.btn-primary Overview
  
                
            
      
    script(src="js/jquery-3.4.1.min.js")

    script(src='assets/js/jquery-1.10.2.js', type='text/javascript')
    script(src="js/bootstrap.min.js")

    script(src='assets/js/jquery-ui.custom.min.js', type='text/javascript')
    script(src='assets/js/fullcalendar.js', type='text/javascript')
    
    
    script(src="js/main.js")
   
